<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>   
  <add name="ConnectionString" connectionString="Integrated Security=true;Initial Catalog=Event;Data Source=localhost"/>
   <!-- <add name="ConnectionString" connectionString="User ID=anupdebnathcse_SQLLogin_1;Password=o135u1zf4f;Initial Catalog=EventManage;Data Source=EventManage.mssql.somee.com"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>    
    <add key="TempFileUpload" value="~/Temp/FileUpload"/>
    <add key="aspnet:UpdatePanelMaxScriptLength" value="2147483647" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
 <system.webServer>
            <defaultDocument>
                <files>
                    <add value="MyCalender.aspx" />
                </files>
            </defaultDocument>
        </system.webServer> 
</configuration>