<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>   
   <add name="ConnectionString" connectionString="User ID=sa;Password=bit;Initial Catalog=Event;Data Source=ANUP-PC"/>
   <!--<add name="ConnectionString" connectionString="User ID=anupdebnathcse_SQLLogin_1;Password=o135u1zf4f;Initial Catalog=EventManage;Data Source=EventManage.mssql.somee.com"/>-->
  </connectionStrings>
  <appSettings>    
    <add key="TempFileUpload" value="~/Temp/FileUpload"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
 <system.webServer>
            <defaultDocument>
                <files>
                    <add value="MyCalender.aspx" />
                </files>
            </defaultDocument>
        </system.webServer> 
</configuration>